[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
pyproj = "*"
pyodbc = "*"

[dev-packages]
pytest = "*"
black = "*"
pylint = "*"
atomicwrites = "*"

[requires]
python_version = "3.9"

[scripts]
format = "black registered tests"
lint = "python -m pylint registered --extension-pkg-whitelist=pyodbc"
test = "python -m pytest tests"
calendar = "python -m registered.calendar"
stop_comparison = "python -m registered.stop_comparison"
merge = "python -m registered.merge"
validate = "python -m registered.validate"

[pipenv]
allow_prereleases = true
