[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "<20.4"
pyproj = {version = "*", sys_platform = "!= 'win32'"}
pyodbc = "*"
smbprotocol = "*"
pyinquirer = "*"
osmnx = "<1.1"
folium = "*"
#scipy = "<1.7"
scipy = "*"
scikit-learn = "*"
shapely = "<1.8"
networkx = {ref = "sp-2.8", git = "https://github.com/paulswartz/networkx.git"}

[dev-packages]
pytest = "*"
black = "*"
pylint = "<2.8"
atomicwrites = "*"
pytest-watch = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[scripts]
format = "black registered tests"
lint = "python -m pylint registered --extension-pkg-whitelist=pyodbc --ignore=flycheck_*.py -j 0"
test = "pytest tests"
test_watch = "ptw -w --spool 500 -- --new-first"
calendar = "python -m registered.calendar"
cheat_sheet = "python -m registered.cheat_sheet"
hastus_sync = "python -m registered.hastus_sync"
stop_comparison = "python -m registered.stop_comparison"
location_comparison = "python -m registered.location_comparison"
merge = "python -m registered.merge"
validate = "python -m registered.validate"
missing_intervals = "python -m registered.intervals.missing"
stop_intervals = "python -m registered.intervals.stop"

[pipenv]
allow_prereleases = true
