[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"

[dev-packages]
pytest = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
format = "black registered tests"
lint = "python -m pylint registered"
test = "python -m pytest tests"
merge = "python -m registered.merge"
validate = "python -m registered.validate"

[pipenv]
allow_prereleases = true
